# Copyright (c) 2000-2020, Board of Trustees of Leland Stanford Jr. University
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission. 
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

swagger: "2.0"
info:
  title: "LOCKSS Repository Service REST API"
  version: "2.0.0"
  description: "REST API of the LOCKSS Repository Service"
  contact:
    name: "LOCKSS Support"
    url: "https://www.lockss.org/"
    email: "lockss-support@lockss.org"
  license:
    name: "BSD-3-Clause"
    url: "https://opensource.org/licenses/BSD-3-Clause"
host: "laaws.lockss.org:443"
basePath: "/"
tags:
  - name: Default
    description: Default section
  - name: collections
    description: Tasks on the repository collections
schemes:
- "http"
produces:
- "application/json"
paths:
  /collections:
    get:
      tags:
        - collections
      summary: "Get collection identifiers of the committed artifacts in the\
        \ repository"
      operationId: getCollections
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            type: "array"
            items:
              type: "string"
  /collections/{collectionid}/artifacts:
    post:
      tags:
        - collections
      summary: "Create an artifact"
      operationId: createArtifact
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "auid"
        in: "formData"
        required: true
        type: "string"
        description: "Archival Unit ID (AUID) of new artifact"
      - name: "uri"
        in: "formData"
        required: true
        type: "string"
        description: "URI represented by this artifact"
      - name: "content"
        in: "formData"
        required: true
        type: "file"
        description: "Content byte stream"
      - name: "aspectParts"
        in: "formData"
        required: false
        type: "file"
        description: "URI aspects represented by this artifact"
      responses:
        201:
          description: "Artifact created"
          schema:
            $ref: "#/definitions/artifact"
        302:
          description: "Duplicate content; artifact not created"
          headers:
            Location:
              type: "string"
              description: "Repository query URL to duplicate artifacts"
        400:
          description: "Invalid input"
        401:
          description: "Unauthorized request"
        403:
          description: "Client not authorized to create artifacts"
        502:
          description: "Internal error creating artifact"
    parameters:
    - name: "collectionid"
      in: "path"
      required: true
      type: "string"
      description: "Collection containing the artifact"
  /collections/{collectionid}/artifacts/{artifactid}:
    get:
      tags:
        - collections
      summary: "Get artifact content and metadata"
      operationId: getArtifact
      parameters:
      - name: "Accept"
        in: "header"
        required: false
        type: "string"
        description: "Content type to return"
        default: "multipart/related"
        enum:
        - "application/http"
        - "application/warc"
        - "multipart/related"
      responses:
        200:
          description: "Artifact created"
          schema:
            $ref: "#/definitions/streamingResponseBody"
        401:
          description: "Unauthorized request"
        403:
          description: "Client not authorized to retrieve artifact"
        404:
          description: "Artifact not found"
        502:
          description: "Could not read from external resource"
    put:
      tags:
        - collections
      summary: "Update the committed property of an artifact"
      operationId: updateArtifact
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "committed"
        in: "formData"
        required: false
        type: "boolean"
        description: "New commit status of artifact"
      responses:
        200:
          description: "Artifact updated"
          schema:
            $ref: "#/definitions/artifact"
        400:
          description: "Invalid input"
        401:
          description: "Unauthorized request"
        403:
          description: "Client not authorized to update artifact"
        404:
          description: "Artifact not found"
    delete:
      tags:
        - collections
      summary: "Remove an artifact from the repository"
      operationId: deleteArtifact
      consumes:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Successfully removed artifact"
        401:
          description: "Unauthorized request"
        403:
          description: "Client not authorized to delete artifact"
        404:
          description: "Artifact not found"
        409:
          description: "Cannot delete committed artifact"
    parameters:
    - name: "collectionid"
      in: "path"
      required: true
      type: "string"
      description: "Collection containing the artifact"
    - name: "artifactid"
      in: "path"
      required: true
      type: "string"
      description: "Identifier of the artifact"
  /collections/{collectionid}/aus:
    get:
      tags:
        - collections
      summary: "Get Archival Unit IDs (AUIDs) in a collection"
      description: "Get a list of all Archival Unit identifiers in a collection\
        \ or a pageful of the list defined by the continuation token and size"
      operationId: getAus
      responses:
        200:
          description: "The requested Archival Unit identifiers"
          schema:
            $ref: '#/definitions/auidPageInfo'
        401:
          description: "Unauthorized request"
        403:
          description: "Client not authorized to retrieve data"
        404:
          description: "Collection not found"
        502:
          description: "Could not read from external resource"
      parameters:
        - name: "collectionid"
          in: "path"
          required: true
          type: "string"
          description: "Identifier of the collection containing the Archival\
            \ Units"
        - name: "limit"
          in: "query"
          description: "The requested maximum number of Archival Unit\
            \ identifiers per response"
          required: false
          type: "integer"
        - name: "continuationToken"
          in: "query"
          required: false
          type: "string"
          description: "The continuation token of the next page of Archival\
            \ Unit identifiers to be returned"
  /collections/{collectionid}/aus/{auid}/artifacts:
    get:
      tags:
        - collections
      summary: "Get artifacts in a collection and Archival Unit"
      description: "Get a list of all artifacts in a collection and Archival\
        \ Unit or a pageful of the list defined by the continuation token and\
        \ size"
      operationId: getArtifacts
      responses:
        200:
          description: "The requested artifacts"
          schema:
            $ref: '#/definitions/artifactPageInfo'
        401:
          description: "Unauthorized request"
        403:
          description: "Client not authorized to retrieve data"
        404:
          description: "Collection not found"
        502:
          description: "Could not read from external resource"
      parameters:
        - name: "collectionid"
          in: "path"
          required: true
          type: "string"
          description: "Identifier of the collection containing the artifacts"
        - name: "auid"
          in: "path"
          required: true
          type: "string"
          description: "Identifier of the Archival Unit containing the\
            \ artifacts"
        - name: "url"
          in: "query"
          required: false
          type: "string"
          description: "The URL contained by the artifacts"
        - name: "urlPrefix"
          in: "query"
          required: false
          type: "string"
          description: "The prefix to be matched by the artifact URLs"
        - name: "version"
          in: "query"
          required: false
          type: "string"
          description: "The version of the artifact"
        - name: "includeUncommitted"
          in: "query"
          required: false
          type: "boolean"
          description: "Indication of whether uncommitted artifacts should be\
            \ returned"
        - name: "limit"
          in: "query"
          description: "The requested maximum number of artifacts per response"
          required: false
          type: "integer"
        - name: "continuationToken"
          in: "query"
          required: false
          type: "string"
          description: "The continuation token of the next page of artifacts to\
            \ be returned"
  /collections/{collectionid}/aus/{auid}/size:
    get:
      tags:
        - collections
      summary: "Get the size of Archival Unit artifacts in a collection"
      operationId: getArtifactsSize
      responses:
        200:
          description: "The size of the artifacts"
          schema:
            type: "integer"
            format: "int64"
        401:
          description: "Unauthorized request"
        403:
          description: "Client not authorized to retrieve data"
        404:
          description: "Collection not found"
        502:
          description: "Could not read from external resource"
    parameters:
    - name: "collectionid"
      in: "path"
      required: true
      type: "string"
      description: "Identifier of the collection containing the artifacts"
    - name: "auid"
      in: "path"
      required: true
      type: "string"
      description: "Identifier of the Archival Unit containing the artifacts"
    - name: "url"
      in: "query"
      required: false
      type: "string"
      description: "The URL contained by the artifacts"
    - name: "urlPrefix"
      in: "query"
      required: false
      type: "string"
      description: "The prefix to be matched by the artifact URLs"
    - name: "version"
      in: "query"
      required: false
      type: "string"
      description: "The version of the artifact"
  /status:
    get:
      tags:
        - "status"
      summary: "Get the status of the service"
      description: "Get the status of the service"
      operationId: "getStatus"
      produces:
        - "application/json"
      responses:
        200:
          description: "The status of the service"
          schema:
            $ref: "#/definitions/apiStatus"
        401:
          description: "Unauthorized"
        500:
          description: "Internal Server Error"
  /cdx/owb/{collectionid}:
    get:
      tags:
        - wayback
      summary: Get OpenWayback CDX records
      description: Get the OpenWayback CDX records of a URL in a collection
      operationId: getCdxOwb
      produces:
        - "application/xml"
      responses:
        '200':
          description: The OpenWayback CDX records of the URL in the collection
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Collection/URL not found
        '500':
          description: Internal Server Error
      parameters:
        - name: 'collectionid'
          in: path
          description: Identifier of the collection
          required: true
          type: string
        - name: q
          in: query
          description: Query string. Supported fields are url, type\
            \ (urlquery/prefixquery), offset and limit.
          example: url:http://www.example.org/ type:urlquery limit:100
          type: string
        - name: count
          in: query
          description: .
          type: integer
        - name: start_page
          in: query
          description: .
          type: integer
        - name: 'Accept'
          in: header
          description: The Accept header
          required: false
          type: string
        - name: 'Accept-Encoding'
          in: header
          description: The Accept-Encoding header
          required: false
          type: string
  /cdx/pywb/{collectionid}:
    get:
      tags:
        - wayback
      summary: Get PyWayback CDX records
      description: Get the PyWayback CDX records of a URL in a collection
      operationId: getCdxPywb
      produces:
        - "text/plain"
      responses:
        '200':
          description: The PyWayback CDX records of the URL in the collection
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Collection/URL not found
        '500':
          description: Internal Server Error
      parameters:
        - name: 'collectionid'
          in: path
          description: Identifier of the collection
          required: true
          type: string
        - name: url
          in: query
          description: The URL for which the CDX records are requested
          type: string
        - name: limit
          in: query
          description: .
          type: integer
        - name: matchType
          in: query
          type: string
          enum: ["exact", "prefix", "host", "domain", "range"]
        - name: sort
          in: query
          type: string
          enum: ["default", "closest", "reverse"]
        - name: closest
          in: query
          description: Timestamp for sort=closest mode
          type: string
          example: 20030402172120
        - name: output
          in: query
          description: Output format
          type: string
          enum: ["cdx", "json"]
        - name: fl
          in: query
          description: Comma-separated list of fields to include in output
          type: string
          example: urlkey,timestamp,original,mimetype,statuscode,digest,length,\
            \offset,filename
        - name: 'Accept'
          in: header
          description: The Accept header
          required: false
          type: string
        - name: 'Accept-Encoding'
          in: header
          description: The Accept-Encoding header
          required: false
          type: string
  /warcs/{fileName}:
    get:
      tags:
        - wayback
      summary: Get a WARC archive
      description: Get the contents of a single WARC record as a WARC archive
      operationId: getWarcArchive
      produces:
        - "application/octet-stream"
      responses:
        '200':
          description: The contents of the requested WARC archive
          schema:
            type: file
        '401':
          description: Unauthorized
        '404':
          description: WARC archive not found
        '500':
          description: Internal Server Error
      parameters:
        - name: 'fileName'
          in: path
          description: Name of the WARC archive
          required: true
          type: string
        - name: 'Accept'
          in: header
          description: The Accept header
          required: false
          type: string
        - name: 'Accept-Encoding'
          in: header
          description: The Accept-Encoding header
          required: false
          type: string
        - name: 'Range'
          in: header
          description: The Range header
          required: false
          type: string
  '/repositories':
    get:
      tags:
        - repo
      summary: Query the properties of repositories
      description: Query the system for selected repository properties
      operationId: getRepositories
      produces:
        - application/json
      parameters:
        - name: 'repositoryQuery'
          in: query
          description: The query that specifies the repository properties to be returned
          required: true
          type: string
      responses:
        '200':
          description: Information about the requested TDB AUs
          schema:
            type: array
            items:
              $ref: '#/definitions/repositoryWsResult'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
  '/repositoryspaces':
    get:
      tags:
        - repo
      summary: Query the properties of repository spaces
      description: Query the system for selected repository space properties
      operationId: getRepositorySpaces
      produces:
        - application/json
      parameters:
        - name: 'repositorySpaceQuery'
          in: query
          description: The query that specifies the repository space properties to be returned
          required: true
          type: string
      responses:
        '200':
          description: Information about the requested TDB AUs
          schema:
            type: array
            items:
              $ref: '#/definitions/repositorySpaceWsResult'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
  '/checksumalgorithms':
    get:
      tags:
        - import
      summary: Get the supported checksum algorithms
      description: Get a list of the names of the supported checksum algorithms
      operationId: getSupportedChecksumAlgorithms
      produces:
        - application/json
      responses:
        '200':
          description: The names of the supported checksum algorithms
          schema:
            type: array
            items:
              type: "string"
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
  '/repoinfo':
    get:
      tags:
        - repo
      summary: Get repository information
      description: Get properties of the repository
      operationId: getRepositoryInformation
      produces:
        - application/json
      responses:
        '200':
          description: The repository information
          schema:
            $ref: "#/definitions/repositoryInfo"
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
definitions:
  artifactPageInfo:
    type: "object"
    required:
      - "artifacts"
      - "pageInfo"
    properties:
      artifacts:
        type: "array"
        description: "The artifacts included in the page"
        items:
          $ref: "#/definitions/artifact"
      pageInfo:
        $ref: "#/definitions/pageInfo"
    description: "A display page of artifacts"
  artifact:
    type: "object"
    properties:
      id:
        type: "string"
      collection:
        type: "string"
      auid:
        type: "string"
      uri:
        type: "string"
      version:
        type: "integer"
      committed:
        type: "boolean"
      storageUrl:
        type: "string"
      originDate:
        type: "integer"
        format: "int64"
  streamingResponseBody:
    type: "object"
  apiStatus:
    type: "object"
    required:
    - "apiVersion"
    - "componentName"
    - "componentVersion"
    - "lockssVersion"
    - "ready"
    - "serviceName"
    properties:
      apiVersion:
        type: "string"
        description: "The version of the API"
      componentName:
        type: "string"
        description: "The name of the component"
      componentVersion:
        type: "string"
        description: "The version of the component software"
      lockssVersion:
        type: "string"
        description: "The version of the LOCKSS system"
      ready:
        type: "boolean"
        description: "The indication of whether the service is available"
      serviceName:
        type: "string"
        description: "The name of the service"
    description: "The status information of the service"
  auidPageInfo:
    type: "object"
    required:
      - "auids"
      - "pageInfo"
    properties:
      auids:
        type: "array"
        description: "The Archival Unit identifiers included in the page"
        items:
          type: "string"
      pageInfo:
        $ref: "#/definitions/pageInfo"
    description: "A display page of Archival Unit identifiers"
  pageInfo:
    type: "object"
    required:
      - "totalCount"
      - "resultsPerPage"
      - "continuationToken"
      - "curLink"
      - "nextLink"
    properties:
      totalCount:
        type: "integer"
        format: "int32"
        description: "The total number of results"
      resultsPerPage:
        type: "integer"
        format: "int32"
        description: "The number of results per page"
      continuationToken:
        type: "string"
        description: "The continuation token"
      curLink:
        type: "string"
        description: "The link of the current request"
      nextLink:
        type: "string"
        description: "The link of the next request"
    description: "The information related to pagination of content"
  repositoryWsResult:
    type: "object"
    required:
      - "repositorySpaceId"
    properties:
      repositorySpaceId:
        type: "string"
        description: "The Repository Space identifier"
    description: "Information about the requested repositories"
  repositorySpaceWsResult:
    type: "object"
    required:
      - "repositorySpaceId"
    properties:
      repositorySpaceId:
        type: "string"
        description: "The Repository Space identifier"
    description: "Information about the requested repository spaces"
  repositoryInfo:
    type: "object"
    required:
      - "storeInfo"
      - "indexInfo"
    properties:
      storeInfo:
        description: "Information about the repository store"
        $ref: "#/definitions/storageInfo"
      indexInfo:
        description: "Information about the repository index"
        $ref: "#/definitions/storageInfo"
    description: "Information about the repository"
  storageInfo:
    type: "object"
    required:
      - "type"
      - "name"
      - "size"
      - "used"
      - "avail"
      - "percentUsedString"
      - "percentUsed"
    properties:
      type:
        description: "Type of the storage area"
        type: "string"
      name:
        description: "Name of the storage area"
        type: "string"
      size:
        description: "Size of the storage area"
        type: "integer"
        format: "int64"
      used:
        description: "Used size of storage area"
        type: "integer"
        format: "int64"
      avail:
        description: "Available size of storage area"
        type: "integer"
        format: "int64"
      percentUsedString:
        description: "Percentage of size used as a string"
        type: "string"
      percentUsed:
        description: "Percentage of size used"
        type: "number"
        format: "double"
    description: "Information about a repository storage area"
